.container-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 10px 10px;
}
a {
	filter: drop-shadow(5px 5px 4px gray);
}

#item1 {
	background-image: url(assets/imgbase/imgbase1.png);
}
#item2 {
	background-image: url(assets/imgbase/imgbase2.png);
}#item3 {
	background-image: url(assets/imgbase/imgbase3.png);
}#item4 {
	background-image: url(assets/imgbase/imgbase4.png);
}#item5 {
	background-image: url(assets/imgbase/imgbase5.png);
}#item6 {
	background-image: url(assets/imgbase/imgbase6.png);
}
.message {
	border-radius: 20px;
	font-size: 20px;
	box-shadow: 14px 10px 10px black;
	width: 600px;
	height: 400px;
}

a {
	border-radius: 20px;
}